<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/assets/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/responsive.css">
</head>

<body style="background: #fbfbfb">
<div id=app >
    <!-- ======= menu_part Section Start======= -->

    <section id="menu_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="logo">
                                <img src="/static/assets/images/logo-new.png" alt="logo" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="menu_left">
                                <a href="#form_part" >Login</a>
                                <button href="/register" class="btn btn-danger">Signup</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= menu_part Section Start======= -->


    <!-- ======= menu_part Section Start======= -->


    <!-- ======= Hero Section Start======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url('/static/assets/images/banner_image.png');">
                        <div class="carousel-container">
                            <div class="carousel-content container">
                                <h2 class="animated fadeInDown">Find What to Watch <br> with FlickPik</h2>
                                <p class="animated fadeInUp">View recommended movie lists or login to post your <br> favorite movies and curate watch lists based on them!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url('/static/assets/images/banner_image.png');">
                        <div class="carousel-container">
                            <div class="carousel-content container">
                                <h2 class="animated fadeInDown">Find What to Watch <br> with FlickPik</h2>
                                <p class="animated fadeInUp">View recommended movie lists or login to post your <br> favorite movies and curate watch lists based on them!</p>
                            </div>
                        </div>
                    </div>


                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url('/static/assets/images/banner_image.png');">
                        <div class="carousel-container">
                            <div class="carousel-container">
                                <div class="carousel-content container">
                                    <h2 class="animated fadeInDown">Find What to Watch <br> with FlickPik</h2>
                                    <p class="animated fadeInUp">View recommended movie lists or login to post your <br> favorite movies and curate watch lists based on them!</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section>

    <!-- ======= Hero Section End======= -->


    <!-- ======= instagram_part Section start======= -->


    <section id="instagram_part">
        <div class="container">
            <div class="row insta_slider">

                <div class="col-lg-2">
                    <div class="insta_picture">
                        <img src="/static/assets/images/p1.png" alt="p1" class="img-fluid" width="100%">
                        <div class="overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <p><a href="#">See More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="insta_picture">
                        <img src="/static/assets/images/p2.png" alt="p1" class="img-fluid" width="100%">
                        <div class="overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <p><a href="#">See More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="insta_picture">
                        <img src="/static/assets/images/p3.png" alt="p1" class="img-fluid" width="100%">
                        <div class="overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <p><a href="#">See More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="insta_picture">
                        <img src="/static/assets/images/p4.png" alt="p1" class="img-fluid" width="100%">
                        <div class="overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <p><a href="#">See More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="insta_picture">
                        <img src="/static/assets/images/p5.png" alt="p1" class="img-fluid" width="100%">
                        <div class="overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <p><a href="#">See More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="insta_picture">
                        <img src="/static/assets/images/p1.png" alt="p1" class="img-fluid" width="100%">
                        <div class="overlay">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <p><a href="#">See More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= instagram_part Section end======= -->

    <!-- ======= add_part Section start======= -->

    <section id="add_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="add_image">
                        <img src="/static/assets/images/add.png" alt="add" width="100%" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= add_part Section end======= -->

    <!-- ======= explorer_part Section start======= -->

    <section id="explorer_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="movies_with_brief">
                        <h3 class="explore_index_h3">Explore
                         <span> 
                             {% raw %}
                            <select @change="get_by_genre" v-model="selected_genre">
                            <option :value="null">GENRE</option>
                            <option v-for="item in filters"  :value="item">{{item}}</option>
                            </select>
                            {% endraw %}
                        </span>
                        </h3>

                        <div class="faqs-container">
                            <div class="faq active" :ref="'a'+index" v-for="(a,index) in books.slice((currentPage - 1) * 5, currentPage * 5)">
                                <div class="movie_image">
                                    <img :src="a.image?'/static/uploads/'+a.image:'/static/images/No_image_available.svg'" class="img-fluid" alt="">
                                </div>
                                <h3 class="faq-title">
                                    {% raw %}{{a.name}}{% endraw %}
                                    <p>{% raw %}{{a.description}}{% endraw %}</p>
                                </h3>
                                <div class="faq-texts">
                                    <p>Curated by<a href="#">{% raw %}{{a.username}}{% endraw %}</a></p>
                                </div>
   <div class="movie_double_slider">
    <div class="faq-text" v-for="b in a.recommendation" >
        <div class="card mb-3" style="max-width: 340px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img :src="a.image?'/static/uploads/'+a.image:'/static/images/No_image_available.svg'" class="img-fluid" alt="r1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{% raw %}{{b.movie_title}}{% endraw %}</h5>
                        <h6 class="card-text">{% raw %}{{b.description}}{% endraw %}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="end">
            <p>Curated by<a href="#">{% raw %}{{b.recommended_by}}{% endraw %}</a></p>
        </div>
    </div>
   </div>
 


                               
                                <div class="rcmd">
                                    <span>RECOMMENDATIONS</span>
                                </div>
                                <button class="faq-toggle">

                                    <i class="fas fa-plus" @click="togglePlus(index)"></i>
                                    <i class="fas fa-minus" @click="toggleMinus(index)"></i>
                                </button>
                            </div>

                         
                        </div>
                        <pagination
                        :max-visible-buttons="totalPages < 4 ? totalPages : 4"
                        :total-pages="totalPages"
                        :total="books.length"
                        :per-page="5"
                        :current-page="currentPage"
                        @pagechanged="onPageChange"
                      />
                      
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="form_part">
                        <div class="pop_image">
                            <img src="/static/assets/images/popcorn.png" alt="popcorn" class="img-fluid">
                            <p>View recommended movie lists or login to post your favorite movies and curate watch lists based on them!</p>
                        </div>
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <input name="email" type="email" class="form-control" placeholder="Enter email address">

                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Enter password">
                            </div>
                            <p><a href="#">Forgot Password?</a></p>
                            <div class="button_submission">
                                
                                <button type=submit class="form-control">login</button>
                                
                                <h5>or</h5>
                            </div>
                            <div class="sign_up">
                                <a href="#" class="form-control">sign up</a>
                            </div>
                        </form>
                    </div>
                    <div class="another_add">
                        <img src="/static/assets/images/ads.jpg" alt="add" class="img-fluid">
                    </div>
                </div>



            </div>
        </div>
    </section>

    <!-- ======= explorer_part Section end======= -->

    <!-- ======= works_part Section start======= -->

    <section id="works_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h3>Learn how <span>FlickPik</span>Works</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="work_info">
                        <img src="/static/assets/images/UI-DESIGN-sketch.png" alt="" class="img-fluid">
                        <h4>Create an <br>Account</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur!</p>
                        <a href="#">watch video <i class="far fa-play-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="work_info">
                        <img src="/static/assets/images/v.png" alt="" class="img-fluid">
                        <h4>Post an Awesome <br>Movie</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur!</p>
                        <a href="#">watch video <i class="far fa-play-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="work_info">
                        <img src="/static/assets/images/t.png" alt="" class="img-fluid">
                        <h4>Explore Curated <br>Watchlists</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur!</p>
                        <a href="#">watch video <i class="far fa-play-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="work_info">
                        <img src="/static/assets/images/s.png" alt="" class="img-fluid">
                        <h4>Recommend Movies <br>to Watch</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur!</p>
                        <a href="#">watch video <i class="far fa-play-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= works_part Section start======= -->

    <!-- ======= footer_part Section start======= -->

    <section id="footer_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="social_icons">
                        <ul>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <p>Copyright 2020 All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- ======= footer_part Section end======= -->

    <script src="/static/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/modernizr.min.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="/static/assets/js/slick.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/x-template" id="pagination">
        <div class="pagination">
            <ul>
                 <li 
                 
                 @click="onClickPreviousPage"
                 :class="isInFirstPage?'':'arrow_active'"
                 ><i  class="fa fa-arrow-left"></i></li>
                    <li v-for="page in pages" @click="clickPage(page.name)" :class="{ active_li: isPageActive(page.name) }">
                        {% raw %}
                        {{ page.name }}
                        {% endraw %}</li>
                    
                    <li @click="onClickNextPage" :class="isInLastPage?'':'arrow_active'"><i class="fa fa-arrow-right"></i></li>
            </ul>
    </div>
        
       </script>
    <script >
        const Pagination = {
  name: 'pagination',
  template: '#pagination',
    props: {
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 4
    },
    totalPages: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    perPage: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    },
  },
  computed: {
    startPage() {
      if (this.currentPage === 1) {
        return 1;
      }

      if (this.currentPage === this.totalPages) { 
        return this.totalPages - this.maxVisibleButtons + 1;
      }

      return this.currentPage - 1;

    },
    endPage() {
      console.log(Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages))
      return Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages);
      
    },
    pages() {
      const range = [];
console.log(this.startPage)
      for (let i = this.startPage; i <= this.endPage; i+= 1 ) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage 
        });
      }

      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage === this.totalPages;
    },
  },
  methods: {
      clickPage(page){
        this.currentPage=page 
        this.$emit('pagechanged', this.currentPage );
      },
    onClickFirstPage() {
      this.$emit('pagechanged', 1);
    },
    onClickPreviousPage() {
        if(!this.isInFirstPage){
            this.$emit('pagechanged', this.currentPage - 1);
        }
      
    },
    onClickPage(page) {
      this.$emit('pagechanged', page);
    },
    onClickNextPage() {
        if(!this.isInLastPage){
            this.$emit('pagechanged', this.currentPage + 1);
        }
      
    },
    onClickLastPage() {
      this.$emit('pagechanged', this.totalPages);    
    },
    isPageActive(page) {
      return this.currentPage === page;
    },
  }
 };
       var vm = new Vue({
        el: '#app',
        components: {
    pagination: Pagination,
  },
        data:{
            totalPages:null,
            currentPage: 1,
          selected_genre: null,
          opened: [],
          genres: null,
          seen: false,
          books: [],
          filters: ["Action","Adventure","Anime","Animation","Bollywood","Comedy","Christian","Drama","Documentary","Family","Foreign","Thriller","Horror","Musical","Nollywood","Romance","Romantic Comedy","Sci-Fi/Fantasy","Short Films","Sports","TV/Streaming","War","Western","Crime","Noir","Blaxploitation","French"],
          
      },
        created() {
      this.getBooks();
      },
      beforeUpdate() {
        $('.movie_double_slider').slick('unslick');
        
    },
    updated() {
        this.$nextTick(function () {
            $('.movie_double_slider').not('.slick-initialized').slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2500,
        arrows: true,
        prevArrow: '<i class="fa fa-arrow-left"></i>',
        nextArrow: '<i class="fa fa-arrow-right"></i>',
        button: false,
        speed: 3000,
        dots: true,
        responsive: [
            {
                breakpoint: 481,
                settings: {
                    slidesToShow: 1,
                    centerMode: false,
                    centerPadding: 0,
                }
    },
            {
                breakpoint: 321,
                settings: {
                    slidesToShow: 1,
                }
    },
            {
                breakpoint: 769,
                settings: {
                    slidesToShow: 2,
                    centerMode: false,
                    centerPadding: 0,
                }
    },
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 2,
                }
    }

  ]
    });
    setTimeout(()=>document.querySelectorAll(".faq.active").forEach(a=>a.setAttribute("class","faq")),2000)
        });
    },
        mounted(){
            var heroCarousel = $("#heroCarousel");
    var heroCarouselIndicators = $("#hero-carousel-indicators");
    heroCarousel.find(".carousel-inner").children(".carousel-item").each(function (index) {
        (index === 0) ?
        heroCarouselIndicators.append("<li data-target='#heroCarousel' data-slide-to='" + index + "' class='active'></li>"):
            heroCarouselIndicators.append("<li data-target='#heroCarousel' data-slide-to='" + index + "'></li>");
    });

    heroCarousel.on('slid.bs.carousel', function (e) {
        $(this).find('h2').addClass('animated fadeInDown');
        $(this).find('p').addClass('animated fadeInUp');
        $(this).find('.btn-get-started').addClass('animated fadeInUp');
    });



    //insta_slider

    $('.insta_slider').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        button: false,
        speed: 2000,
        dots: false,
        responsive: [
            {
                breakpoint: 481,
                settings: {
                    slidesToShow: 1,
                    centerMode: false,
                    centerPadding: 0,
                }
    },
            {
                breakpoint: 321,
                settings: {
                    slidesToShow: 1,
                }
    },
            {
                breakpoint: 769,
                settings: {
                    slidesToShow: 2,
                    centerMode: false,
                    centerPadding: 0,
                }
    },
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 2,
                }
    }

  ]
    });
    
        //movie_double_slider

           
 

    const toggles = document.querySelectorAll('.faq-toggle');

    toggles.forEach(toggle => {
        toggle.addEventListener('click', () => {
            toggle.parentNode.classList.toggle('active');
        });
    });

    // SOCIAL PANEL JS
    // const floating_btn = document.querySelector('.floating-btn');
    // const close_btn = document.querySelector('.close-btn');
    const social_panel_container = document.querySelector('.social-panel-container');
        setTimeout(()=> this.genres = ["All","Action","Adventure","Anime","Animation","Bollywood","Comedy","Christian","Drama","Documentary","Family","Foreign","Thriller","Horror","Musical","Nollywood","Romance","Romantic Comedy","Sci-Fi/Fantasy","Short Films","Sports","TV/Streaming","War","Western","Crime","Noir","Blaxploitation","French"], 0)
      },
      methods:{
        onPageChange(page) {
      console.log(page)
      this.currentPage = page;
    },
        get_by_genre() {  
        console.log(this.selected_genre);
  
        if (!this.selected_genre) {
  
          this.getBooks();
  
        }
        else {
           axios.get('/get_by_genre',{
        params : {genre:this.selected_genre}
    }).then((res) => {
            this.books = res.data.books;
            this.totalPages=Math.ceil(this.books.length/5)
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
  
        }  
  },
      getBooks() {
        const path = '/get_all_movies';
        axios.get(path)
          .then((res) => {
            this.books = res.data.books;
            this.totalPages=Math.ceil(this.books.length/5)
            console.error(this.books);
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      toggle(id) {
      console.log(id);
        const index = this.opened.indexOf(id);
        if (index > -1) {
          this.opened.splice(index, 1)
          console.log(this.opened);
        } else {
          this.opened.push(id)
          console.log(this.opened);
        }
      },
      togglePlus(id) {
        this.$refs['a'+id][0].setAttribute("class","faq active")
      
        
      },
      toggleMinus(id) {
        this.$refs['a'+id][0].setAttribute("class","faq")
        
      },
      },
  }) 
    </script>
</body>

</html>
