<!DOCTYPE html>
<html>
<head>
<title>FlickPik</title>
</head>
<body>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Free Movie Suggestions">
<meta name="keywords" content="Movie recommendations">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/all.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" >
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/slick.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/responsive.css')}}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
 <style>
   .navbar-brand{
     font-size:22px;
   }
   .nav-link{
     font-size: 18px;
   }
   .navbar-text{
     padding:2px;
     font-size: 16px;
   }
 </style>

</head>
<body class="d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">
    FlickPik
    </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}"><span><i class="fa fa-heart"> </i></span> My Watchlist</a>  
      </li>
    </ul>
  </div>
  <span class="navbar-text">
  <a class="nav-link" href="{{ url_for('logout') }}"><span><i class="fa fa-sign-out"> </i></span> Logout</a>
  </span>
</nav>

<div class="col-12 text-center mt-5">
  <a href="/">
    <img src="{{ url_for('static',filename='images/slogo.png') }}">
  </a>
  <br>
  <br>

  <h5>Explore Watchlists or recommend a movie to a FlickPikr!</h5>

</div>


<div id="app">
  {% raw %}
 
  <template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <div>
        </div>
        <div class="table-responsive mt-3">
          <table class="table table-hover">
            <thead>
              <tr> 
                <th scope="col"><span class="reply_text">We <i class="fa fa-heart" style="font-size:22px;color:red"></i></th>
                  <th scope="col"><span class="reply_text">Image</span></th>
                <th scope="col"><span class="reply_text">Description</span></th>
                <th scope="col"><span class="reply_text"> Recommend </span></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(book, index) in books.slice().reverse()" :key="index" style="height: 22px;">
                <td >
                  <div>
                    <button @click="toggle_movie_table(index)" class="btn btn-default">
                      <i class="fa fa-plus-circle"> {{ book.name }}</i>
                    </button>
                    
                    <div v-if="tr_opened.includes(index)" class="mt-1">
                      <div v-if="recommendation.accepted == true" v-for="recommendation in book.recommendation">
                        <ul><span class="reply_text">&#11088;{{recommendation.movie_title}}: {{recommendation.description}}</span></ul>
                      </div>
                    </div> 
                  </div>
                </td>
                <td><img width=100 height=100 :src="'/static/uploads/'+book.image"/></td>
                <td><span class="reply_text">{{ book.description }}</span></td>
                <td>
                  
                  <button class="suggest" v-on:click=toggle(index) data-toggle="tooltop" title="Suggest a movie for this watch list"><i class="fa fa-comments-o"></i>  Suggest</button>
                 
                  <input v-model="book.movie_being_recommended" placeholder="movie name" class="mt-1 form-control hidden" v-if="opened.includes(index)">
                 
                  <textarea v-model="book.recommend_description" rows=4 placeholder="describe the movie (100 charachters or less)" class="mt-1 form-control hidden" v-if="opened.includes(index)"></textarea>
                  
                  <button @click="recommend(index,book)" type="button " class="btn btn-danger text-light form-control hidden mt-1" v-if="opened.includes(index)">Submit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>       
        </div>
      </div>
    </div>
    
  </div>
  </template>    
  {% endraw %}    
</div>

<section id="footer_part" class="mt-auto" >
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="social_icons">
                  <ul>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                  <p>Copyright 2020 All rights reserved</p>
              </div>
          </div>
      </div>  
  </div>
</section>

  <script src="{{url_for('static', filename='assets/js/jquery-1.12.4.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>

  <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/modernizr.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/slick.min.js')}}"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script>
const vm = new Vue({
        el: '#app',
        data: {
            id:null,
        book:null,
        tr_opened: [],
        opened: [],
        seen: false,
        books: []
      },
      methods: {
         getBooks() {
      const path = '/get_all_movies';
      axios.get(path)
        .then((res) => {
          this.books = res.data.books;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    reset(book) {
          book.movie_being_recommended = "";
          book.recommend_description = "";
          book.movie_id = "";
            },
            toggle_movie_table(id) {
    console.log(id);
      const index = this.tr_opened.indexOf(id);
      if (index > -1) {
        this.tr_opened.splice(index, 1)
        console.log(this.tr_opened);
      } else {
        this.tr_opened.push(id)
        console.log(this.tr_opened);
      }
    },
    recommend(index,book) {
      console.log("recommend clicked");
      console.log(index)
      console.log(book.movie_being_recommended)
      console.log(book.recommend_description)
      var current_user_id = "{{ current_user.username }}";
      movie = {movie_recommendation:book.movie_being_recommended, movie_description: book.recommend_description, recommender_name:current_user_id , movie_id: book.id }
      //song.loggedInUser = localStorage.user
      axios.post("/recommend_movie", movie ).then(this.getBooks()).then(this.reset(book));
     // this.$router.push('/for-you')
    },
    toggle(id) {
        console.log("pressed");
        console.log(id);
       
         console.log(this.opened);
         
      const index = this.opened.indexOf(id);
      if (index > -1) { 
        this.opened.splice(index, 1);
      } else {
        this.opened.push(id) ;
      }
    },
  },
  created() {
    this.getBooks();
  },
  mounted() {}
      });
  </script>


