<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <img src="/static/images/slogo.png"> 

                   <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-wrench color-blue"></i></span>
                          <input id="password" name="new_password" placeholder="*****" class="form-control"  type="password">
                        </div>
                        <br>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-wrench color-blue"></i></span>
                          <input id="conf_pass" name="conf_pass" placeholder="Confirm Password" class="form-control"  type="password">
                        </div>
                      </div>
                      <p id='warning' style="display: none; color: red;">* Password Does Not Match</p>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-danger btn-block"   value="Reset Password" onclick="validate_submit()">
                      </div>
                      
                      
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>

<script type="text/javascript">
  
  function validate_submit(){

    if ($("#password").val() == $("#conf_pass").val()){
      document.getElementById('register-form').submit();
    }
    else{

      document.getElementById('warning').style.display = 'block';
    }
  }

</script>

<style type="text/css">
  .form-gap {
    padding-top: 70px;
}
</style>