<!DOCTYPE html>
<html>
<head>
<title>FlickPik</title>
</head>
<body>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Free Movie Suggestions">
<meta name="keywords" content="Movie recommendations">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/all.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" >
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/slick.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/responsive.css')}}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
 <style>
   .navbar-brand{
     font-size:22px;
   }
   .nav-link{
     font-size: 18px;
   }
   .navbar-text{
     padding:2px;
     font-size: 16px;
   }
   #user_name{
     font-family: cursive;
   }
 </style>
</head>
 
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">
    FlickPik
    </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('explore') }}"><span><i class="fa fa-film"> </i></span> Movies <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
  <a class="nav-link" href="{{ url_for('logout') }}"><span><i class="fa fa-sign-out"> </i></span> Logout</a>

  </span>
</nav>
        

<div class="col-12 text-center mt-5">
  <a href="/">
    <img src="{{ url_for('static',filename='images/slogo.png') }}">

  </a>
  <br>
  <br>

  <h1 id="user_name" v-model="user_name">{{ user.username }}</h1>

</div>
    <div id="app" class="text-center">
      {% raw %}
      
      <div class="list col-12 mt-3" v-for="(drinks, index) in rom">
        <div class="d-flex justify-content-center post_btn">
          <button class="form-control col-md-4 col-sm-10" v-on:click=toggle(index)>{{ drinks.brand }}</button>  
        </div>

        <div class="hidden" v-show="drinks.visible">
        </div> 
        <input type="hidden" id="username" v-model="username " />
        <div class="d-flex justify-content-center">
          <input id="movie_name" v-model="movie_name" placeholder="Enter a movie name" class="hidden form-control col-md-4 col-sm-10 mt-3" v-show="drinks.visible">
        </div>
        <div class="d-flex justify-content-center"> 
          <textarea maxlength="100" rows=4 id="movie_description" v-model="movie_description" placeholder="Give a description! (100 characters or less)" class="hidden form-control mt-3 col-md-4 col-sm-10" v-show="drinks.visible"></textarea>  
        </div>
        <div class="d-flex justify-content-center">
          <select v-show="drinks.visible" id="movie_genre" class="form-control mt-3 hidden col-md-4 col-sm-10" v-model="movie_genre">
            <option disabled value="">Please select one</option>
            <option v-for="item in filters" v-model="movie_genre" :value="item">{{item}}</option>
          </select>
        </div>  
        <div class="d-flex justify-content-center post_btn ">
          <button @click="ask_for_recommendation" class="col-md-4 col-sm-10 mt-4 mb-4  hidden" v-show="drinks.visible">Submit
          </button>
        </div>
      </div>
    
    <template>
      <div class="container mt-4">
        <div class="row">
          <div class="col-sm-10">
            <div>
        </div>
        <table class="table table-hover">
              <thead>
                <tr> 
                  <th scope="col"> <i class="fa fa-heart" style="font-size:22px;color:red"></i></th>
                  <th scope="col"><span class="reply_text">Replies</span></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(book, index) in books.movies.slice().reverse()" :key="index">
                  <td>
                    <div>
                    <button @click="toggle_movie_table(index)" class="btn btn-default">
                      <i class="fa fa-plus-circle"> {{ book.name }}</i>
                    </button>
                     
                    <div v-if="opened.includes(index)" class="mt-2">
                  
                      <div v-if="recommendation.accepted == true" v-for="recommendation in book.recommendation">
                        <ul >
                          <span class="reply_text">&#11088; {{recommendation.movie_title}}: {{recommendation.description}}</span></ul>
                      
                      </div>

                      <div v-if="recommendation.accepted == false" v-for="recommendation  in book.recommendation">
                        <ul  >
                          <span class="reply_text">{{recommendation.movie_title}}: {{recommendation.description}}</span>
                          <div class="reply_btn d-flex mt-2">
                            <button class="accept form-control" @click="accept(recommendation)">accept</button>  
                            <button class="reject form-control" @click="decline(recommendation)">reject</button>
                          </div>
                         
                        </ul>
                      </div>       
                    </div>
                  
                  </div>
                </td>
                  
                  <td><span class="reply_text"> {{book.recommendation.length}}</span> </td>
                  <td><button v-on:click="delete_post(book.id)"  type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </template>    
  {% endraw %}  
  </div>

  <section id="footer_part" class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="social_icons">
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <p>Copyright 2020 All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</section>

  <script src="{{url_for('static', filename='assets/js/jquery-1.12.4.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>

  <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/modernizr.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/slick.min.js')}}"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


   <script>
const vm = new Vue({
        el: '#app',
        data: {
          user_name:"",movie_description:"", movie_genre:"", movie_name:"", opened: [], filters: null,
        artist: null,
        song: null,
        genre: null,
        username: null,
        rom : [{
          brand: 'Post an Awesome movie',
          visible: false,
          comment: 'drink1 - comment'
        },
        ],
        seen: false,
        books: [],
      },
      methods: {
        get_by_genre() {  
          console.log(this.selected_genre);
          if (this.selected_genre == "All") {
            this.getBooks();
          }
          else {
            axios.get('/get_by_genre',{
              params : {genre:this.selected_genre}
            }).then((res) => {
              this.books = res.data.books;
            })
            .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
          }
        },
        ask_for_recommendation () {
          console.log(this.movie_name);
          console.log(this.movie_description);
          console.log(this.movie_genre);
          var current_user_id = "{{ current_user.username }}";
          console.log(current_user_id);
          console.log(current_user_id);
          axios.post("/ask_for_movie_recommendation", { 
            movie_name: this.movie_name, 
            movie_genre: this.movie_genre,
            movie_description: this.movie_description, 
            user_name: current_user_id}).then(
            this.getBooks()
            ).then(this.reset()).catch((error) => {
        // Error 
        if (error.response) {
            /*
             * The request was made and the server responded with a
             * status code that falls out of the range of 2xx
             */
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
        } else if (error.request) {
            /*
             * The request was made but no response was received, `error.request`
             * is an instance of XMLHttpRequest in the browser and an instance
             * of http.ClientRequest in Node.js
             */
            console.log(error.request);
        } else {
            // Something happened in setting up the request and triggered an Error
            console.log('Error', error.message);
        }
        console.log(error.config);
    });
    },getBooks() {
      const path = '/get_my_movies';
      var current_user_id = "{{ current_user.username }}";
      console.log(current_user_id);
      payload = {user: current_user_id}
      console.log(payload)
      axios.post(path,payload)
        .then((res) => {
          this.books = res.data.books;
          console.log(res.data.books);
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          getBooks();
        });
    },
    toggle(key) {
              var vm = this;
              if (!vm.rom[key].visible) {
                vm.rom[key].visible = true;
              } else  {
                  vm.rom[key].visible = false;
              }
            },
    reset() {
          this.movie_name = "";
          this.movie_description = "";
          this.movie_genre = "";
            },
            toggle_movie_table(id) {
    console.log(id);
      const index = this.opened.indexOf(id);
      if (index > -1) {
        this.opened.splice(index, 1)
        console.log(this.opened);
      } else {
        this.opened.push(id)
        console.log(this.opened);
      }
    },
    accept(rec) {
      console.log("accept clicked");
      console.log(rec);
      axios.post("/accept_recommendation/", {id:rec.id}).then(this.getBooks()
        );
      //this.$router.push('/songs');
    },
    delete_post(movie_id){
    console.log("delete post clicked");
      console.log(movie_id);
      axios.post("/delete_post/", {id:movie_id}).then(this.getBooks()
         
        );
      //this.$router.push('/songs');
    }
    ,
    decline(rec) {
      console.log("delete clicked");
      console.log(rec);
      axios.post("/reject_recommendation/", {id:rec.id}).then(this.getBooks()
          
        );
      //this.$router.push('/songs');
    },
        },

        created() {
          this.getBooks();
         
        },
        mounted() {
          setTimeout(()=> this.filters = ["Action","Adventure","Anime","Animation","Bollywood","Comedy","Christian","Drama","Documentary","Family","Foreign","Thriller","Horror","Musical","Nollywood","Romance","Romantic Comedy","Sci-Fi/Fantasy","Short Films","Sports","TV/Streaming","War","Western","Crime","Noir","Blaxploitation","French"], 0)
        }
      });
  </script>


